* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  padding: 20px;
  margin: 0;
}

.table-section {
  max-width: 100%;
  margin: 0 auto;
}

h2 {
  text-align: center;
}

table {
  display: grid;
  width: 100%;
  border-collapse: collapse;
}

thead {
  display: contents;
}

tbody {
  display: contents;
}

th,
td {
  padding: 15px;
  text-align: center;
  width: 20vw;
}

tbody tr:nth-child(even) td {
  background-color: #f9f9f9;
}

tbody tr:nth-child(odd) td {
  background-color: #e6e6e6;
}

tbody tr:hover td {
  background-color: #d1e7fd;
}

th {
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
}
