* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  padding: 20px;
  margin: 0;
}

.table-section {
  max-width: 100%;
  margin: 0 auto;
}

h2 {
  text-align: center;
}

.grid-table {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.1%;
  border-collapse: collapse;
}

.header {
  background-color: #4a5;
  color: white;
  font-weight: bold;
  padding: 6%;
  text-align: center;
}

.cell {
  padding: 3vh;
  text-align: center;
}

.cell:nth-child(3n+1),
.cell:nth-child(3n+2),
.cell:nth-child(3n+3) {
  background-color: #eee;
}

.cell:nth-child(6n+1),
.cell:nth-child(6n+2),
.cell:nth-child(6n+3) {
  background-color: #ddd;
}

.grid-table>.cell:hover {
  background-color: #def;
}
